<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6 min-w-[300px]">
  @for (video of videos; track video.title) {
    <app-video-card 
      [thumbnail]="video.thumbnail"
      [duration]="video.duration"
      [title]="video.title"
      [channelAvatar]="video.channelAvatar"
      [channelName]="video.channelName"
      [views]="video.views"
      [date]="video.date">
    </app-video-card>
  } @empty {
    <p class="text-zinc-400">No hay videos disponibles</p>
  }
</div>
